body{
    background: #FFFFFF;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 0px;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    position: static;
    width: 1280px;
    height: 44px;
    left: 80px;
    top: 18px;
}

